extends layout

block content
  div.card-panel
    h2 Express Chat
    div.messages
      div.systemMessage welcome to awesome chat
    div.form.clearfix
            textarea#msg(value='' placeholder='type message')
            input#send(type='submit' value='Send')
