body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #eee;
  color: #666;
}
.clearfix {
    position: relative;
}
.clearfix:after {
    content: '';
    clear: both;
    display: block;
}
.wrapper {
    width: 550px;
    margin: auto;
    background: white;
    box-shadow: 0 0 15px 4px #aaa;
    border-radius: 3px;
}
.messages {
    padding: 15px;
}
.form {
    border-top: 1px solid #ccc;
    padding: 15px;
    background: rgba(101, 175, 187, 0.06);
    background: #65AFBB;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.form textarea {
    border-color: transparent;
    float:left;
    width: calc(100% - 81px);
}
.form input {
    padding: 7px 0;
    float:left;
    width:80px;
}
h1,h2 {
    background: #65AFBB;
    color: white;
    padding: 15px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin: 0;
}
p {
  margin: 0;
}